@import "tailwindcss";
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
@theme{
  --color-primary: #F1F1F1;
  --color-secondary: #333333;
  --color-accent: #FDB827;
  --color-tetiary: #21209C;
  --color-exta: #23120B;
  --font-primary: 'Inter', sans-serif;
  --font-heading: 'Playfair Display', serif;
}
html{
  @apply scroll-smooth;
}